export(magic_graph)
export(magic_impute)
export(magic)
export(mcv_select_t)
export(mcv_select_t_tolerant)
export(magic_tolerant)
export(magic_modules)
export(magic_bootstrap_se)
export(knee_select_t)
export(magic_per_gene)
export(clr_from_cor)
export(magic_clr)
importFrom(Matrix, sparseMatrix, rowSums, t, Diagonal)
importFrom(RANN, nn2)
importFrom(irlba, prcomp_irlba)
importFrom(stats, rbinom, kmeans, cor, sd, quantile)
